In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('play_tennis.csv')

In [5]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

## we have to find out that how naive bayes works with this events 
- temp = hot 
- humidity = high 
- wind = weak

## temperature

In [7]:
pd.crosstab( df.temp, df.play)

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [16]:
temphotno= 2/5
temphotyes= 2/9

In [9]:
tempcoolno

0.2

## humidity

In [11]:
pd.crosstab(df.humidity, df.play)

play      No  Yes
humidity
High       4    3
Normal     1    6

In [12]:
humhighyes= 3/9
humhighno = 4/5

## wind

In [13]:
pd.crosstab(df.wind, df.play)

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
windweakyes= 6/9
windweakno = 2/5

In [ ]:
temp = hot 
humidity = high 
wind = weak

In [17]:
yes = temphotyes*humhighyes*windweakyes

In [18]:
no = temphotno*humhighno*windweakno

In [19]:
yes > no

False

final answer is No

In [24]:
yes , no

(0.04938271604938271, 0.12800000000000003)